:root{
    --title-color: #2E2F42;
    --subtitle-color: #434455;
    --primary-color: #4D5AE5;
    --btn-color: #F4f4fd;
    --second-color: #404BBF;
    --main-color: #FFFFFF;
    --link-color: #8E8F99;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--subtitle-color);
    background: var(--main-color);
}
p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

.link{
    text-decoration: none;
}
.list{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


/* -----------------HEADER-------------------------------- */

.header{ 
    border-bottom: 1px solid #E7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container{
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-container{
    display: flex;
    justify-content: space-between;

    
}
.header-navigation{
    list-style: none;
    display: flex;
    align-items: center;

}
.header-list{
    display: flex;
    gap: 40px;
    
}


.header-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: var(--title-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-right: 76px;
    
   
}


.header-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color var(--transition);
}
.header-link:hover,
.header-link:focus{
    color: var(--second-color); 
}
.activ{
    position: relative;
    color: var(--second-color);
}
.activ::after{
    content: "";
    position: absolute;
    width: 100%;
    height:4px;
    left: 0;
    bottom: -1px;
    background-color: var(--second-color);
    border-radius: 2px;
}



.adress{
    display: flex;
    font-style: normal;
    align-items: center;

}
.adress-list{
    display: flex;
    gap: 40px;

    
}
.adress-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    transition: color var(--transition);
}
.adress-link:hover,
.adress-link:focus{
    color: var(--second-color);
}

/* -------------------HERO---------------------------------------- */

.section-hero{
  padding: 188px 0;
  background: var(--title-color);
  background-image:
  linear-gradient(rgba(46, 47, 66, 0.7),
  rgba(46, 47, 66, 0.7)),
     url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
 
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
   
}

.hero-btn{
    font-family: 'Roboto' ,sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: var(--main-color);
    background-color: var(--primary-color);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition:
    background-color var(--transition);

}
.hero-btn:hover,
.hero-btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
    
}
/* --------------------TECHNO-------------------------------- */
.techno{
    padding-top: 120px;
    padding-bottom: 120px;
}
.techno-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.techno-list{
    display: flex;
    gap: 24px;
}
.techno-item{
    flex-basis: calc((100% - 72px) / 4);
}
.techno-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}
.techno-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
/* ----------------------------DOING------------------------- */
.doing{
    padding-bottom: 120px;
}

.doing-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.doing-item{
    width: calc((100% - 48px) / 3);
}


/* -------------------TEAM-------------------------- */
.team{
    background-color: var(--btn-color);
    padding: 120px 0;
}
.team-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.team-icon{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.icon-item{
    width: 40px;
    height: 40px;
}
.icon-link{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color var(--transition);
}
.icon-link:hover,
.icon-link:focus{
    background-color: var(--second-color);
}
.icon-soc{
    fill: var(--btn-color);
}
.team-item{
    background-color: var(--main-color);
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.team-inner{
    padding: 32px 0;
}
.customers-title,
.doing-title,
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-color);
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

    

.team-title-less{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    background-color: var(--main-color);
    margin-bottom: 8px;
    text-align: center;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
    text-align: center;
    margin-bottom: 8px;;
}
/* -------------CUSTOMERS------------- */
.customers{
    padding: 120px 0;
}
.customers-list{
    display: flex;
    gap: 24px;
}
.customers-item{
    flex-basis: calc((100% - 120px) / 6);
    height: 88px;
}
.customers-svg{
    fill: currentColor;
}
.customers-link{
    width: 100%;
    height: 100%;
    border: 1px solid #8E8F99;border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--link-color);
    transition: border-color var(--transition),
    color var(--transition);
}



.customers-link:hover,
.customers-link:focus{
    border-color: var(--second-color);
    color: var(--second-color);
}


/* ---------------FOOTER------------ */
.footer{
    background-color: var(--title-color);
    padding: 100px 0;
}
.footer-wrap{
    display: flex;
    align-items: baseline;
}
.footer-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--btn-color);
    margin-bottom: 16px;

}
.logo-link{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--btn-color);
    max-width: 264px;
   
}
.footer-social{
    width: 208px;
    height: 80px;
    margin-right: 80px;
}
.footer-soc-list{
    display: flex;
    gap: 16px;
}
.footer-soc-item{
    width: 40px;
    height: 40px;
}
.footer-soc-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transition);
}
.footer-soc-link:hover,
.footer-soc-link:focus{
    background-color: #31d0aa;
}

.footer-box{
    margin-right: 120px;
}
.footer-soc-svg{
    fill: var(--btn-color);
}
.footer-desc,
.social-subtitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-bottom: 16px;
}
.footer-button{

}
.footer-form{
    display: flex;
    gap: 24px;
}
.footer-input{
    width: 264px;
    height: 40px;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--main-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}
.footer-input::placeholder{
    color: var(--main-color);
}
.subscribe-btn{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--main-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.footer-name-svg{
    margin-left: 16px;
}
    
/* -----------PORTFOLIO--------------     */
.section-top{
    padding-top: 96px;
    padding-bottom: 120px;
}

.filters-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  
}


.filters-btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    background-color: var(--btn-color);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    transition: color var(--transition), background-color var(--transition), border-color var(--transition), box-shadow var(--transition);


}
.filters-btn:hover,
.filters-btn:focus{
    background-color: var(--second-color);
    color: var(--main-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}
 



.card-set{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;

    
}
.card-wrap{
    position:relative;
    overflow: hidden;
}
.card-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    position: absolute;
    top: 0;
    padding: 40px 32px;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform var(--transition);
}
.banking-link:hover .card-text,
.banking-link:focus .card-text{
    transform: translateY(0%);
}

.card{
    width: calc((100% - 48px) / 3);

}
.banking-link{
    display: block;
    transition: box-shadow var(--transition);
}
.banking-link:hover,
.banking-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.banking-add{
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}

.banking-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 8px;
}


.banking-desc{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--subtitle-color);
}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--transition), visibility var(--transition);
   
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleY(1);
    width: 408px;
    min-height: 584px;
    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--transition);
    background: #FFFFFF;
    padding: 72px 24px 24px 24px;

}
.is-hidden{
     opacity: 0;
     visibility: hidden;
     pointer-events: none;
} 
.modal-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color var(--transition), border var(--transition);
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scaleY(0);
}
.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--second-color);
    border: none;
}
.modal-btn-svg{
    transition: fill var(--transition);
}
.modal:hover .modal-btn,
.modal:focus .modal-btn{
    fill: #ffffff;
} 
.modal-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-color);
    margin-bottom: 16px;
}
.modal-field{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-bottom: 8px;
}

.form-input{
    font-family: inherit;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color var(--transition);
}
.form-label{
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--link-color);

}
.form-input:focus{
    border-color: var(--primary-color);
}
.form-input:focus + .modal-name-svg{
    fill: var(--primary-color);
}

 
.input-wrep{
    position: relative;
    
}
.modal-name-svg{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}
.area{
    margin-bottom: 16px;
}
.form-textarea{
    width: 360px;
    height: 120px;
    border-radius: 4px;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color var(--transition);
}
.form-textarea:focus{
    border-color: var(--primary-color);
}
.form-textarea::placeholder{
    border-color: var(--primary-color);
}
.input-check{
    display: inline-block;
}
.modal-check{
    margin-bottom: 24px;
}
.check-label{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
}

.check-label a{
    text-decoration: underline;
}

.check-label span{
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    fill: transparent;
    transition: background-color var(--transition),
    border var(--transition),
    fill var(--transition);
}
.chack-link{
    color: var(--primary-color);
}
.input-check:checked + .check-label span{
    background-color: var(--second-color);
    border: none;
    fill: var(--btn-color);
}
.botton-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: block;
   margin: 0 auto;
    min-width: 169px;
    height: 56px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    cursor: pointer;
    border: none;
    transition: background-color var(--transition);
}

    
    
    





